@import "./normalize.css"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap')

$yellow: #D4C17F
$rob: 'Roboto', sans-serif
$pd: 'Playfair Display', serif
$rale: 'Raleway', sans-serif
@mixin flex($ai, $jc)
    display: flex
    align-items: $ai
    justify-content: $jc
@mixin text-settings($fsize, $fweight, $color, $ff)
    font-size: $fsize
    font-weight: $fweight
    color: $color
    font-family: $ff
@mixin bg
    background-position: center
    background-repeat: no-repeat
@mixin btn($color)
    height: 38px
    width: 136px
    background: $color
    border-radius: 5px
@mixin part-num 
    position: absolute
    width: 300px
    height: 410px
    @include flex(center, center)
    @include text-settings(400px, 700, white, $pd)
    opacity: 0.02
html
    box-sizing: border-box 
*, *:before, *:after
    box-sizing: inherit
body 
    overflow-x: hidden
    font-style: normal
.wrapper 
    margin: 0
    width: 100%
    min-height: 500px
    @include flex(center, initial)
    flex-direction: column
    background: #E5E5E5
.wrapper a
    text-decoration: none
    text-transform: none
    border: none
    outline: none
    cursor: pointer
.wrapper h2 
    @include text-settings(36px, 700, $yellow, $pd)
.wrapper a:focus
    text-decoration: none
    text-transform: none
    border: none
    outline: none
.inline-wrapper
    margin: 0
    width: 1920px
    min-height: 500px
    @include flex(center, initial)
    flex-direction: column
    background:#242B33
    @media screen and (max-width: 1919px)
        width: 100%
.content-section
    width: 1110px
    @media screen and (max-width: 1109px)
        width: 100%
header, main, footer, section
    width: 100%
main, section, footer
    min-height: 400px
.col-w10
    width: 10%
.col-w20
    width: 20%
.col-w50
    width: 50%
@import '../header/header.sass';
@import '../main/main.sass';