.feedback-container
    min-height: 560px
    background-image: url(../../style/images/house-bg.png)
    @include flex(initial, center)
    @include bg 
.feedback-section
    @include flex(initial, center)
.fb-left
    width: 50%
.fb-right
    width: 50%
    padding-top: 50px
.fb-left p 
    @include text-settings(16px, 400, white, $rale)
.fb-right > div
    display: grid 
    grid-template-columns: 50% 50% 
    grid-template-rows: repeat(2, 1fr)
    justify-content: space-around
.fb-box
    width: 100%
    min-height: 80px
    padding: 10px
    @include flex(center, center)
.fb-box p 
    @include text-settings(13px, 400, white, $rale)
    text-align: center
.fb-text input
    background-color: transparent
    border: none
    width: 100%
    height: 100%
    @include text-settings(14px, 400, #BEBEBE, $rale)
    text-align: center
.fb-text input:active
    text-decoration: none
    text-transform: none
    border: none
    outline: none
    padding: 0px
.fb-text input:focus
    text-decoration: none
    text-transform: none
    border: none
    outline: none
    padding: 0px
.fb-text
    width: 255px
    height: 50px
    background: #FFFFFF
    opacity: 0.2
    padding: 10px
.fb-btn a
    width: 100%
    height: 50px
    padding: 0px
    outline: none
    background: $yellow
    @include flex(center, center)
    @include text-settings(16px, 700, white, $rale)
.fb-btn
    width: 255px
    height: 50px
    